
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
/* ---------- BODY ---------- */
body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

/* ---------- HEADER ---------- */
header {
  background-color: #064e64;
  color: rgb(5, 26, 121);
  padding-top: 0.5rem;
}

header img {
  float: left;
  width: 70px;
  margin: 0.5rem 2vw;
}

header h1 {
  margin: 0.5em 0 0 0;
  font-size: 1.5rem;
}

header h2 {
  margin: 1em 0;
  font-weight: normal;
  font-size: 0.9rem;
}

header h2.date {
  margin-top: 20px;
}

header h2.date {
  color: #66fcf1;
  text-align: center;
  font-size: 1.3rem;
}

/* ---------- NAVIGATION ---------- */
nav {
  background-color: #0b010c;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav button {
  margin: 0.5rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #fff;
}

nav ul li a {
  display: block;
  font-weight: bold;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.banner-content {
  background-color: #007bb5;
  display: inline;

} 

nav ul li.active {
  background-color: #00837e;
}

nav ul li a:hover {
  background-color: #66fcf1;
  color: #0b010c;
}

/* Responsive Nav */
nav ul {
  display: none;
}
nav ul.open {
  display: block;
}
img {
  max-width: 100%;
}
#menuButton span:nth-child(1) {
  display: block;
}
#menuButton span:nth-child(2) {
  display: none;
}

#menuButton.open span:nth-child(1) {
  display: none;
}
#menuButton.open span:nth-child(2) {
  display: block;
}

.home-hero {
  background-image: url("../images/optimized.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


header div.showme {
display: block;
}

.news-events, .weather, .join, .spotlightdiv {
text-align: center;
}

header div.hideme {
display: none;
}
/* ---------- MAIN ---------- */
main {
  padding: 0.5rem 2vw;
}

main section {
  border: 2px solid #0b010c;
  margin-bottom: 20px;
}

main section.colored {
  background-color: #1f2833;
  color: #fff;
}

main section.colored h2 {
  color: #66fcf1;
}

main section h2,
main section p {
  padding: 0 0.8rem;
}

main section p {
  line-height: 1.3rem;
}

main section.home-join,
main section.home-spotlight-3 {
  display: none;
}

.hero-content {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem 2vw;
  text-align: center;
  width: 80%;
  margin: 2rem 10% 3rem 10%;
}
/* ---------- FOOTER ---------- */
footer {
  background-color: #1f2833;
  color: #fff;
  padding: 1.5rem 2vw;
  border-top: 20px solid #0b010c;
  text-align: center;
}

footer p a {
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
}

footer p a:hover {
  color: #66fcf1;
}


footer img {
  width: 100px;
}

.weather, .spotlightdiv {
  background-color: #3f0344; 
  padding: 2rem;
}

main.discover picture img[data-src] {
  opacity: 0;
  visibility: hidden;
}
main.discover picture img{
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
/* -----Discover Page Section-------- */
main.discover {
  text-align: center;
}
main.discover article p{
  text-align: left;
}
.discover h2 {
  padding-bottom: 2rem;
}
.discover-heading {
  height: 100px;
  position: relative;
  background-color: #E5E5E5;
}
.discover-heading h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.join-btn {
margin: 1rem;
padding: 0.5rem 1.5rem;
text-align: center;
text-decoration: none;
font-size: 2rem;
align-self: center;
color: white;
background-color: #a7175f;
border-radius: 25px;
display: block;
width: 60%;
position: relative;
}
.join button:hover {
background-color: #14213D;
color: white;
}

.herodiv {
margin: 10px auto;
position: relative;
}

.herodiv {
margin: 10px auto;
position: relative;
}

.discover article {
  margin: 25px;
  border: 2px #E5E5E5 solid;
  border-radius: 10px;
}
.discover article h2 a {
  text-decoration: none;
  color: #14213D;
}
.discover article h2 a:hover {
  color: #666;
  text-decoration: underline;
}
main.discover picture img{
  box-shadow: 5px 4px 10px #666;
}


/*------Join Page - Beginning-----*/
#envelope{
  display: grid;
  flex-direction: column;
  justify-content:  center;
  align-items:  center;
  max-width: 30rem;

}

/*----Join Paage - Ending------*/
footer{
  text-align: center;
  border: 1px solid #ccc;
  padding: 1.5rem;
  font-family:'Dongle', sans-serif;
  width: 100%;
}

/*--------Directory Page--------*/
.directoryPage h2.dirHeading {
  font-family: 'Montserrat';
  text-align: center;
  padding: 1.5rem;
  background-color: #EEEE;
  margin-bottom: 3rem;
}
.list-view section h2, .grid-view section h2 {
  font-family: 'Noto Serif';
  text-align: center;
}
/*--------Directory Page buttons----------*/
.links ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.links ul li span {
  margin: 7px;
  font-size: 2rem;
}
.links ul li:hover,
.links ul li.active {
  color: white;
  background-color: #292205;
  border-radius: 5px;
  cursor: pointer;
}
/*--------Grid View-------------*/
.grid-view section {
  margin: 1rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  border: #888 1px solid;
  color: #14213D;
}
.grid-view section img{
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}
.grid-view section hr {
  margin-bottom: 1.5rem;
}
.grid-view section p,
.grid-view section a {
  font-size: 13px;
  font-weight: bolder;
  padding: 5px 0;
}
/*-----------List View------------*/
.list-view section {
  padding: 1rem;
  color: #14213D;
  margin: 0 .5rem;
  font-weight: bold;
  font-size: 13px;
}
.list-view section:nth-last-of-type(even) {
  background-color: rgba(29, 19, 2, 0.5);
}
.list-view section p {
  padding: 3px;
}
.list-view section:last-child {
  margin-bottom: 3rem;
}